<template>
  <div class="navbar-container d-flex content align-items-center" >

    <!-- Nav Menu Toggler -->
    <!-- <ul class="nav navbar-nav d-xl-none"> -->
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="toggleMenu"
        >
          <feather-icon
            icon="MenuIcon"
            size="21"
          />
        </b-link>
      </li>
    </ul>
    <b-navbar-nav class="nav align-items-center ml-auto">
          <feather-icon
            v-if="userInfo" 
            icon="VideoIcon"
            v-b-modal.modal-1
            size="25"
          />
        <b-button
          v-if="!userInfo" 
          squared
          variant="outline-primary"
           :to="{path:'/login'}"
        >
          <feather-icon
            icon="UserIcon"
            class="mr-50"
          />
          <span class="align-middle">로 그 인</span>
        </b-button>
      <b-nav-item-dropdown
        v-if="userInfo"
        right
        toggle-class="d-flex align-items-center dropdown-user-link"
        class="dropdown-user"
      >
        <template #button-content>
          <b-avatar
            size="40"
            variant="light-primary"
            badge
            :src="require('@/assets/images/avatars/13-small.png')"
            class="badge-minimal ml-2"
            badge-variant="success"
          />
        </template>

        <b-dropdown-item link-class="d-flex align-items-center"
        @click="logout">
          <feather-icon
            size="16"
            icon="LogOutIcon"
            class="mr-50"
          />
          <span>로그아웃</span>
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </div>
</template>

<script>
import DarkToggler from '@core/layouts/components/app-navbar/components/DarkToggler.vue'
import Constant from '@/Constant'
export default {
  components: {
    // Navbar Components
    DarkToggler,
  },
  computed : {
    userInfo(){
          return this.$store.state.mall.userInfo;
    }
  },
  data(){
    return {
      keyword : '',
      collapse: false,
    }
  },
  props: {
    toggleVerticalMenuActive: {
      type: Function,
      default: () => {},
    },
    toggleCollapsed: {
      type: Function,
      default: () => {}
    }
  },
  methods: {
        logout(){
            this.$store.commit('mall/'+Constant.LOGOUT);
        },
        goHome(){
            this.$router.push({
              path : '/'
            }).catch(()=>{});
        },
        login(){
            this.$router.push({
              path : '/login'
            }).catch(()=>{});
        },
        toggleMenu () {
          this.collapse = !this.collapse
          this.$store.commit('verticalMenu/UPDATE_VERTICAL_MENU_COLLAPSED', this.collapse) 
        }
    },
}
</script>
