//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
// $primary: #1f45d0;
$primary: #FFC700;
$secondary: #545454;
$success: #2F91FF;
$danger: #DD0001;
$warning: #FF853E;
$info: #5ACD1B;
$dark: #4B4B4B;
$light: #BABFC7;
