<template>
    <div>
        <b-row>
            <b-col lg="6" class="d-lg-flex align-items-center p-5">
                <div>
                    <b-img src="@/assets/images/pages/car/1.png" fluid>
                    </b-img>
                </div>
            </b-col>
            <b-col lg="6" class="align-items-center px-2 p-lg-5">
                <div>
                    <b-tabs v-model="activeTab">
                        <b-tab>
                            <div class="mb-5 text-right">
                                <p>이미 노빌리티의 회원이십니까?
                                    <a style="color: blue">로그인</a>
                                </p>
                            </div>
                            <div class="text-center">
                                <h1>회원가입</h1>
                                <p>성실과 신뢰를 최우선으로 하는 노빌리티의</p>
                                <p>고객이 되어 주셔서 감사합니다.</p>
                            </div>
                            <div class="w-50 text-center" style="margin-left: 25%">
                                <b-card @click="next('general')" style="cursor: pointer">
                                    일반 회원
                                </b-card>
                                <b-card @click="next('dealer')" style="cursor: pointer">
                                    딜러 회원
                                </b-card>
                            </div>
                        </b-tab>
                        <b-tab>
                            <div class="mb-5">
                                <b-icon-chevron-left />
                                <a @click="prev">Back</a>
                            </div>
                            <div class="ml-4 mb-2">
                                <p style="font-size: 2rem">계정 정보 만들기</p>
                                <p>효율적이고 빠른 서비스 이용을 위해</p>
                                <p>회원정보를 정확히 입력해주시기 바랍니다.</p>
                            </div>
                            <div class="ml-4">
                                <validation-observer ref="simpleRules">
                                    <b-row>
                                        <b-col lg="10">
                                            <b-form-group
                                                label="회원명*"
                                                label-for="v-name"
                                            >
                                                <validation-provider
                                                    #default="{ errors }"
                                                    name="회원명"    
                                                    rules="required"
                                                >
                                                    <b-form-input id="v-name" placeholder="회원명" v-model="userInfo.name" :state="errors.length > 0 ? false : null"/>
                                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                                </validation-provider>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10">
                                            <b-form-group
                                                label="휴대폰 번호*"
                                                label-for="v-phone"
                                            >
                                                <validation-provider
                                                    #default="{ errors }"
                                                    name="휴대폰 번호"    
                                                    rules="required|phoneValidator"
                                                >
                                                    <b-form-input id="v-phone" placeholder="010-0000-0000" v-model="userInfo.phone" :state="errors.length > 0 ? false : null"/>
                                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                                </validation-provider>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10" v-if="userInfo.type!=='general'">
                                            <b-form-group
                                                label="종사원 번호"
                                                label-for="v-deptNum"
                                            >
                                                <b-form-input id="v-deptNum" placeholder="조합 소속 여부 확인을 위한 부가 정보 기입" v-model="userInfo.dept_num"/>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10">
                                            <b-form-group
                                                label="이메일 주소(ID)*"
                                                label-for="v-email"
                                            >
                                                <validation-provider
                                                    #default="{ errors }"
                                                    name="이메일"    
                                                    rules="required|email"
                                                >
                                                    <b-form-input id="v-email" placeholder="nobility@nobility.com" v-model="userInfo.email" :state="errors.length > 0 ? false : null"/>
                                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                                </validation-provider>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10">
                                            <b-form-group
                                                label="비밀번호*"
                                                label-for="v-password"
                                            >
                                                <validation-provider
                                                    #default="{ errors }"
                                                    name="비밀번호"    
                                                    rules="required|passwordValidator"
                                                >
                                                    <b-form-input id="v-password" placeholder="영문 최소 8자, 특수기호 1회이상 사용" v-model="userInfo.password" :state="errors.length > 0 ? false : null"/>
                                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                                </validation-provider>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10">
                                            <b-form-group>
                                                <b-form-checkbox
                                                    v-model="userInfo.agree"
                                                    ref="agree"
                                                >
                                                    <p>이용약관 및 개인정보처리방침 동의</p>
                                                </b-form-checkbox>
                                            </b-form-group>
                                        </b-col>
                                        <b-col lg="10">
                                            <b-button class="w-100" variant="primary" @click.prevent="register">계정 정보 등록</b-button>
                                        </b-col>
                                    </b-row>
                                </validation-observer>
                            </div>
                        </b-tab>
                    </b-tabs>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, email } from '@validations'
import { CustomValidator } from '../../util/validator.js'

export default {
    components: {
        ValidationProvider,
        ValidationObserver,
    },
    data () {
        return {
            activeTab: 0,
            userInfo: {
                type: 'general',
                name: '',
                phone: '',
                dept_num: '',
                email: '',
                password: '',
                agree: false
            },
            required,
            email
        }
    },
    methods: {
        prev () {
            this.activeTab--;
        },
        next (type) {
            this.activeTab++;
            this.userInfo.type = type
        },
        register () {
            this.$refs.simpleRules.validate().then(success => {
                if(success) {
                    if(!this.userInfo.agree) {
                        this.$refs.agree.focus()
                        alert('이용약관 및 개인정보처리방침에 동의해주세요.')
                    } else {
                        console.log(this.userInfo)
                        this.$router.push({
                            path : '/mall/main'
                        }).catch(()=>{});
                    }
                }
            })
        }
    }
}
</script>