<template>
    <div>
        <h3 style="line-height: 2.4rem;">{{title}}</h3>
        <List :limit="limit" :infinite="true" :feed="$route.name"  />
    </div>
</template>
<script>
import Constant from '@/Constant';
import List from '@/views/list/List'
export default {
    name : 'FeedList',
    components : {List},
    computed : {
        title(){
            return this.$store.state.mall.title;
        },
        infinite(){
            return this.$store.state.mall.infinite;
        }
    },
    mounted() {
        this.$store.commit('vuetube/'+Constant.SET_INFINITE,true);
    },
    data() {
        return {
            limit : 12
        }
    },
}
</script>
<style>
    
</style>