<template lang="">
    <b-col md="6" lg="3">
            <b-link :to="{ name: 'watch', params: { contentsSeq: item.contentsSeq } }">
            <b-card
                :img-src="item.thumbnailUrl"
                img-alt="Card image cap"
                img-top
                class="short_title"
                :title="item.subject">
                <b-card-text>
                {{item.createId}}
                </b-card-text>
            </b-card>
            </b-link>
    </b-col>
</template>
<script>
export default {
        name : 'Item',
        props : ['item'],
}
</script>
<style lang="">
    
</style>