<template>
    <b-row class="match-height">
            <Item v-for="item in contents" :key="item.contentsSeq" :item="item" />
            <infinite-loading @infinite="infiniteScroll" v-if="infinite" ref="infiniteLoading">
                <div slot="no-more"></div>
                <div slot="no-results"></div>
            </infinite-loading>
    </b-row>
</template>
<script>
import Item from '@/views/list/Item'
import InfiniteLoading from 'vue-infinite-loading';
import eventBus from '@/EventBus'
import Constant from '@/Constant';

export default {
    name : 'List',
     props : ['feed','limit','infinite'],
    components : {Item,InfiniteLoading},
    created() {
        if(this.$route.fullPath== "/") {
            eventBus.$on('afterLoadList',this.reloadList)
        }
    },
    mounted() {
        let params = {
            start : this.start,
            limit : this.limit
        }

        if(this.feed != undefined && this.feed != null && this.feed != "") {
            params.feed = this.feed;
            if(params.feed.indexOf("category") > -1) {
                params.feed = "category";
            }
        }
        if(this.$route.params.categorySeq != undefined && this.$route.params.categorySeq != null && this.$route.params.categorySeq != "" && this.$route.params.categorySeq > 0) {
            params.categorySeq = this.$route.params.categorySeq;
        }
        if(this.$route.name.indexOf("category") == -1) {
            this.$store.commit("vuetube/"+Constant.SET_TITLE,{title : this.feed == "popular" ? "인기" : (this.feed == "subscribe" ? "구독" : "검색결과")});  
        }
        if(this.$route.query != undefined && this.$route.query != null && this.$route.query.keyword != undefined && this.$route.query.keyword != null && this.$route.query.keyword != "") {
             params.subject = this.$route.query.keyword
        }
        this.$store.dispatch("vuetube/"+Constant.LOAD_LIST, {params : params});
    },
    computed : {
        contents(){
            if(this.feed != undefined && this.feed != null && this.feed == "top") {
                return this.$store.state.mall.main_contents;
            }
            return this.$store.state.mall.contents;
        }
    },
    watch: {
      $route(to) {
          this.start = 0;
          let params = {
                start : this.start,
                limit : this.limit
          }
          if(to.name.indexOf("category") == -1) {
              this.$store.commit("vuetube/"+Constant.SET_TITLE,{title : to.name == "popular" ? "인기" : (to.name == "subscribe" ? "구독" : "검색결과")});  
          }
          if(to.name != undefined && to.name != null && to.name != "") {
                params.feed = to.name;
                if(params.feed.indexOf("category") > -1) {
                    params.feed = "category";
                }
          }
          if(to.params.categorySeq != undefined && to.params.categorySeq != null && to.params.categorySeq != "" && to.params.categorySeq > 0) {
                params.categorySeq = to.params.categorySeq;
          }
          if(to.query != undefined && to.query != null && to.query != "") {
                params.subject = to.query.keyword
          }
        //   this.$refs.infiniteLoading.stateChanger.reset();
          this.$store.dispatch("vuetube/"+Constant.LOAD_LIST, {params : params});
      }
    },
    methods: {
        reloadList(){
            console.log("로드로드!!");
          this.start = 0;
          let params = {
                start : this.start,
                limit : this.limit
          }
          if(this.$route.name != "category") {
              this.$store.commit("vuetube/"+Constant.SET_TITLE,{title : this.$route.name == "popular" ? "인기" : (this.$route.name == "subscribe" ? "구독" : "검색결과")});  
          }
          if(this.feed != undefined && this.feed != null && this.feed != "") {
                params.feed = this.feed;
          }
          if(this.$route.params.categorySeq != undefined && this.$route.params.categorySeq != null && this.$route.params.categorySeq != "" && this.$route.params.categorySeq > 0) {
                params.categorySeq = this.$route.params.categorySeq;
          }
          if(this.$route.query != undefined && this.$route.query != null && this.$route.query != "") {
                params.subject = this.$route.query.keyword
          }
          console.log("params",params);
        //   this.$refs.infiniteLoading.stateChanger.reset();
          this.$store.dispatch("vuetube/"+Constant.LOAD_LIST, {params : params});
        },
        infiniteScroll($state){
            if(this.infinite) {
                // api 호출
                this.start +=  1;
                let params = {
                    token: this.$route.token,
                    start : this.start,
                    limit : this.limit
                }
                 if(this.feed != undefined && this.feed != null && this.feed != "") {
                    params.feed = this.feed;
                }
                if(this.$route.params.categorySeq != undefined && this.$route.params.categorySeq != null && this.$route.params.categorySeq != "" && this.$route.params.categorySeq > 0) {
                    params.categorySeq = this.$route.params.categorySeq;
                }
                if(this.$route.query != undefined && this.$route.query != null && this.$route.query.keyword != undefined && this.$route.query.keyword != null && this.$route.query.keyword != "") {
                    params.subject = this.$route.query.keyword
                }
                this.$store.dispatch("vuetube/"+Constant.APPEND_LIST, {params : params, $state : $state});
            }
        }
    },
    data() {
        return {
            start : 0
        }
    },
}
</script>
<style>
    
</style>