<template>
    <b-card>
        <b-row class="mb-2">
            <b-col lg="1" class="pr-1">
                <b-form-select v-model="searchType">
                    <b-form-select-option value="2">제조사</b-form-select-option>
                    <b-form-select-option value="3">모델</b-form-select-option>
                    <b-form-select-option value="4">세부모델</b-form-select-option>
                    <b-form-select-option value="5">등급</b-form-select-option>
                </b-form-select>
            </b-col>
            <b-col lg="3" class="pl-0">
                <b-form-input v-model="searchTxt" @keyup.enter="search">
                </b-form-input>
            </b-col>
            <b-col lg="2" class="pl-0">
                <b-button style="margin-right: 2px" variant="primary" @click="search">검색</b-button>
                <b-button variant="outline-dark">초기화</b-button>
            </b-col>
        </b-row>

        <b-row>
            <b-col lg="8" style="max-height: 500px; overflow: auto">
                <div class="d-flex model-header">
                    <div class="col-2">제조국</div>
                    <div class="col-2">제조사</div>
                    <div class="col-2">모델</div>
                    <div class="col-2">세부모델</div>
                    <div class="col-2">등급</div>
                    <div class="col-2">세부등급</div>
                </div>
                <car-model-tree
                    v-if="carModelMap"
                    class="item"
                    :model="carModelMap"
                    :current-model="currentModel"
                    @select-car="selectCar"
                >
                </car-model-tree>
            </b-col>
            <b-col lg="4">
                <div class="border-div mb-2">
                    <div class="mb-1"></div>
                    <b-col lg="12" class="mb-2">
                        <div class="update-header">
                            <span>계정명 수정</span>
                        </div>
                    </b-col>
                    <b-col lg="12">
                        <b-form-group
                            label-cols="4"
                            label-cols-lg="2"
                            label="선택됨"
                            label-for="input-name"
                        >
                            <b-form-input
                                id="input-name"
                                placeholder="화면에서 선택"
                                disabled
                            />
                        </b-form-group> 
                        <b-col class="small-text">
                            <span>제조사~세부등급</span>
                        </b-col>
                        <b-form-group
                            label-cols="4"
                            label-cols-lg="2" 
                            label="변경내용"
                            label-for="input-change-name"
                        >
                            <b-form-input
                                id="input-change-name"
                                placeholder=""
                            />
                        </b-form-group>
                    </b-col>
                    <b-col lg="12" class="d-flex mb-2">
                        <b-col lg="2" cols="4" class="pl-0 pr-0 use-padd">
                            <span>사용여부</span>
                        </b-col>
                        <b-col lg="6" cols="6" class="pl-0 use-padd">
                            <b-form-radio-group>
                                <b-form-radio>사용</b-form-radio>
                                <b-form-radio>사용안함</b-form-radio>
                            </b-form-radio-group>
                        </b-col>
                        <b-col lg="4" cols="2">
                            <b-button variant="primary" class="update-btn">수정</b-button>
                        </b-col>
                    </b-col>
                </div>

                <div class="border-div">
                    <div class="mb-1"></div>
                    <b-col lg="12" class="mb-2">
                        <div class="update-header">
                            <span>하위계정 추가</span>
                        </div>
                    </b-col>
                    <b-col lg="12">
                        <b-form-group
                            label-cols="4"
                            label-cols-lg="2"
                            label="상위계정"
                            label-for="input-parent-name"
                        > 
                            <b-form-input
                                id="input-parent-name"
                                placeholder="화면에서 선택"
                                disabled
                            />
                        </b-form-group> 
                        <b-col class="small-text">
                            <span>제조사~세부등급</span>
                        </b-col>
                        <b-form-group
                            label-cols="4"
                            label-cols-lg="2" 
                            label="입력"
                            label-for="input-code-name"
                        >
                            <b-form-input
                                id="input-code-name"
                                placeholder=""
                            />
                        </b-form-group>
                    </b-col>
                </div>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
import CarModelTree from './CarModelTree'
import Constant from '@/Constant'
import MessageConstant from '@/MessageConstant'

export default {
    components: {
        CarModelTree
    },
    data () {
        return {
            searchType: '2',
            searchTxt: '',
            selectedModel: {
                code: '',
                codeNm: '',
                lvl: 0,
                userYn: "Y"
            },
            currentModel: null,
            // carModelMap: null
            carModelMap: {
                code: 'A', 
                codeNm: "최상위", 
                lvl:0, 
                userYn: "Y",
                children: [
                    {
                        code: 'A01',
                        codeNm: '국내',
                        lvl: 1,
                        userYn: "Y",
                        children: [
                            {
                                code: 'A01B001',
                                codeNm: '현대모비스모비스',
                                lvl: 2,
                                userYn: "Y",
                                children: [
                                    {
                                        code: 'A01B001C001',
                                        codeNm: 'i30',
                                        userYn: "Y",
                                        lvl: 3
                                        
                                    },
                                    {
                                        code: 'A01B001C002',
                                        codeNm: 'i40',
                                        userYn: "Y",
                                        lvl: 3
                                    },
                                    {
                                        code: 'A01B001C003',
                                        codeNm: 'i50',
                                        userYn: "Y",
                                        lvl: 3
                                    },
                                    {
                                        code: 'A01B001C004',
                                        codeNm: 'i60',
                                        userYn: "Y",
                                        lvl: 3
                                    },
                                    {
                                        code: 'A01B001C005',
                                        codeNm: 'i70',
                                        userYn: "Y",
                                        lvl: 3
                                    },
                                    {
                                        code: 'A01B001C006',
                                        codeNm: 'i80',
                                        userYn: "Y",
                                        lvl: 3
                                    }
                                ]
                            }, {
                                code: 'A01B002',
                                codeNm: '기아',
                                userYn: "Y",
                                lvl: 2
                            }
                        ]
                    },
                    {
                        code: 'A02',
                        codeNm: '해외',
                        userYn: "Y",
                        lvl: 1
                    }
                ]
            }
        }
    },
    mounted () {
        this.$emit('change-title', '차량 모델 관리')
        this.search()
    },
    methods: {
        search () {
            let param = {
                keyword: this.searchTxt,
                searchType: this.searchTxt === '' ? '' : this.searchType
            }
            this.$store.dispatch('mall/' + Constant.LOAD_CAR_MODEL_TREE, param).then( (data) => {
                if(data) {
                    this.carModelMap = data.list[0]
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SEARCH, me: this});
                }
            })
        },
        selectCar (model) {
            console.log(model.code)
            if(this.currentModel === model.code) {
                this.currentModel = null
            } else {
                this.currentModel = model.code
            }
            this.selectedModel = model
        }
    }
}
</script>


<style lang="scss" scoped>
.model-header {
    background: #F3F2F7;
    padding: 10px;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.active {
    background: #EFEFEF;
}
.update-header {
    padding: 0.5rem;
    color: #7367F0;
    background: rgba(115, 103, 240, 0.12);
    border-radius: 5px;
}
.border-div {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.small-text {
    @media (min-width: 992px) {
        margin-left: 15%
    }
    margin-left: 32%;
    span {
        font-size: 0.5rem;
    }
}
.use-padd {
    padding-top: calc(0.438rem + 1px);
}
.update-btn {
    position: absolute;
    right: 0;
}
</style>