<template>
    <div>
        <div
            @click="selectCar(model)"
            :class="{root_model: model.lvl === 0,  child_model: model.lvl !== 0, active: isActiveModel}"
        >
            <div class="d-flex">
                <b-col lg="2" v-for="index in 6" :key="index">
                    <div v-if="model.lvl === index" class="text-overflow">
                        <feather-icon v-if="isFolder" :icon="isOpen ? 'ChevronDownIcon' : 'ChevronRightIcon'"></feather-icon>
                        <span :title="model.codeNm">{{model.codeNm}}</span>
                    </div>
                    <div v-if="model.lvl !== index && model.lvl < index">
                        <feather-icon icon="MinusIcon"></feather-icon>
                    </div>
                </b-col>
            </div>
        </div>
        <div v-show="isOpen" v-if="isFolder">
            <tree-item
                :class="`model` + model.lvl"
                v-for="(child, index) in model.children"
                :key="index"
                :model="child"
                :current-model="currentModel"
                @select-car="$emit('select-car', $event)"
            >
            </tree-item>
        </div>
    </div>
</template>

<script>
export default {
    name: 'tree-item',
    props: {
        model: Object,
        currentModel: String
    },
    data () {
        return {
            isOpen: this.model.lvl === 0 ? true : false
        }
    },
    computed: {
        isFolder () {
            return this.model.children && this.model.children.length
        },
        isActiveModel () {
            return this.currentModel === this.model.code
        }
    },
    methods: {
        selectCar (model) {
            if(this.isFolder) {
                this.isOpen = !this.isOpen
            }
            this.$emit('select-car', model)
        }
    }
}
</script> 

<style lang="scss" scoped>
.item {
    cursor: pointer;
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.root_model {
    display: none;
}
.child_model {
    padding: 1rem 0 1rem 0;
    border-top: 1px solid;
    &:hover {
        background: #EFEFEF;
    }
}
.active {
    background: #EFEFEF;
}
.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>