<template>
    <div class="col-sm-12 border">
        <div>
            <p>Nobility's Partners</p>
            <p>노빌리티 플랫폼과 함께 하는 제휴사를 소개합니다.</p>
        </div>
        <div>
            회사소개
            운영윤리강령
        </div>
    </div>
</template>