<template>
<div>
  <b-navbar>
    <b-img style="width: 25px" src="@/assets/logo.png">
    </b-img>
    <b-navbar-nav class="header ml-auto">
      <b-nav-item active>전체 차량</b-nav-item>
      <b-nav-item>국산차량</b-nav-item>
      <b-nav-item>수입차량</b-nav-item>
      <b-nav-item>특가차량</b-nav-item>
      <b-nav-item>전문가 상담</b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-item>
        <b-form-input placeholder="제조사, 모델명 검색" v-model="keyword" @keyup.enter="search"></b-form-input>
      </b-nav-item>
      <b-nav-item href="/mall/register">회원가입</b-nav-item>
      <b-nav-item>로그인</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</div>
</template>

<script>
export default {
  props: ['drawer'],
  data () {
    return {
      keyword: ''
    }
  },
  methods: {
      toggleSide () {
         this.$emit('toggle', !this.drawer)
      },
      search () {
          this.$router.push({
                  path : '/mall/purchase',
                  query : {
                     keyword : this.keyword
                  }
          }).catch(()=>{});
      }
  }
}
</script>

<style scoped>
</style>
