<template lang="">
    <b-col md="6" lg="3">
            <!-- <b-link :to="{ name: 'watch', params: { contentsSeq: item.seq } }"> -->
            <b-card
                :img-src="item.imageSrc"
                img-alt="Card image cap"
                img-top
                class="short_title"
                :title="item.name">
                <b-card-text>
                    <div style="font-size: 0.8rem">
                        {{item.createDate}}
                        {{item.gas}}
                        {{item.km}}km
                    </div>
                    <div style="color: blue">
                        {{item.price}}만원
                    </div>
                    <div>
                        <b-badge variant="primary" v-show="item.type === 'new'">
                            신차
                        </b-badge>
                        <b-badge variant="danger" v-show="item.type === 'sale'">
                            특가
                        </b-badge>
                        <b-badge variant="warning" v-show="item.type === 'wear'">
                            신규입고
                        </b-badge>
                    </div>
                </b-card-text>
            </b-card>
            <!-- </b-link> -->
    </b-col>
</template>
<script>
export default {
    name : 'Item',
    props : ['item'],
}
</script>