<template>
    <div>
        <b-row>
            <div class="d-flex border-top border-bottom col-sm-12 mb-2" style="justify-content: space-between">
                <div class="d-flex">
                    <p class="mr-2">{{title}}</p>
                    <p style="font-size: 0.7rem">{{subTitle}}</p>
                </div>
                <div class="d-flex">
                    <b-button size="sm" @click="showSale">{{buttonTitle}}</b-button>
                </div>
            </div>
        </b-row>
        <b-row class="match-height">
                <Car v-for="item in cars" :key="item.seq" :item="item" />
        </b-row>
    </div>
</template>

<script>
import Car from './Car'

export default {
    components: {
        Car
    },
    props: ['cars', 'type'],
    computed: {
        title () {
            return this.type === 'sale' ? "Nobility 특가존" : "Today's Nobility"
        },
        subTitle () {
            return this.type === 'sale' ? "놓치면 후회할 차량! 특가존에서 확인해보세요." : "새롭게 등록된 노빌리티의 차량을 확인해보세요."
        },
        buttonTitle() {
            return this.type === 'sale' ? "특가차량 더 보기" : "차량 더 보기"
        }
    },
    methods: {
        showSale () {
            console.log('show sale car' + this.type)
        }
    }    
}
</script>