<template>
<div class="h-40">
    <b-card>
        <Carousel />
    </b-card>
    <div>
        <MainSearch />
    </div>
    <div>
        <CarList :cars="cars" type="sale"/>
    </div>
    <div>
        <CarList :cars="todayCars" type="today"/>
    </div>
    <div>
        <Footer />
    </div>
</div>
</template>

<script>
import Carousel from './SplideCarousel'
import MainSearch from './MainSearch'
import CarList from './CarList'
import Footer from '../layout/Footer'

export default {
    components: {
        Carousel,
        MainSearch,
        CarList,
        Footer
    },
    data () {
        return {
            cars: [
                {seq: 1, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼', createDate: '2002년 10월', gas: '가솔린', km:'1500', price:'6200', type:'new'},
                {seq: 2, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트', createDate: '2002년 11월', gas: '경유', km:'800', price:'5200', type:''},
                {seq: 3, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2002년 12월', gas: '전기차', km:'1600', price:'4200', type:'sale'},
                {seq: 4, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2003년 1월', gas: '가솔린', km:'1800', price:'3200', type:'new'}
            ],
            todayCars: [
                {seq: 1, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼', createDate: '2002년 10월', gas: '가솔린', km:'1500', price:'6200', type:'new'},
                {seq: 2, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트', createDate: '2002년 11월', gas: '경유', km:'800', price:'5200', type:'new'},
                {seq: 3, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2002년 12월', gas: '전기차', km:'1600', price:'4200', type:'wear'},
                {seq: 4, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2003년 1월', gas: '가솔린', km:'1800', price:'3200', type:'wear'},
                {seq: 5, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼', createDate: '2002년 10월', gas: '가솔린', km:'1500', price:'6200', type:'new'},
                {seq: 6, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트', createDate: '2002년 11월', gas: '경유', km:'800', price:'5200', type:'new'},
                {seq: 7, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2002년 12월', gas: '전기차', km:'1600', price:'4200', type:'wear'},
                {seq: 8, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2003년 1월', gas: '가솔린', km:'1800', price:'3200', type:'wear'}
            ]
        }
    }
}
</script>
