<template>
    <b-card no-body>
        <b-row class="mx-0">
            <b-col md="8" style="border-right:1px solid">
                <div class="m-2"> 
                    <p>노빌리티 차량 검색</p>
                    <p style="font-size: 10px">찾으시는 차량이 있으신가요?</p>
                    <p style="font-size: 10px">내가 찾는 모델을 알아보세요.</p>
                    <div>
                        <b-form-select class="col-sm-3" v-model="selectedMenuFacturerOption" :options="menufacturerOption"></b-form-select>
                        <b-form-select class="col-sm-3" v-model="selectedModelOption" :options="modelOption"></b-form-select>    
                        <b-form-select class="col-sm-3" v-model="selectedDetailOption" :options="detailOption"></b-form-select>
                        <b-button class="col-sm-3" @click="search">검색</b-button>
                    </div>
                </div>
            </b-col>
            <b-col md="4">
                <div class="m-2">
                    <p>상담받기</p>
                    <p style="font-size: 10px">차량 판매부터 정비까지.</p>
                    <p style="font-size: 10px">노빌리티 전문가분들에게 상담받아보세요.</p>
                    <div class="text-center">
                        <b-button @click="counsel">전문가 상담신청</b-button>
                    </div>
                </div>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
export default {
    data () {
        return {
            selectedMenuFacturerOption: '',
            selectedModelOption: '',
            selectedDetailOption: '',
            menufacturerOption: [{value: '', text: '제조사'}, {value: 'hd', text: '현대'}, {value: 'kia', text: '기아'}],
            modelOption: [{value: '', text:'모델'}, {value: 'stig', text:'스팅어'}, {value: 'ferra', text: '페라리'}],
            detailOption: [{value: '', text:'세부모델'}, {value: 'stig', text:'스팅어'}, {value: 'ferra', text: '페라리'}]
        }
    },
    methods: {
        search () {
            console.log('search : ' + this.selectedMenuFacturerOption + "/" + this.selectedModelOption + "/" + this.selectedDetailOption)
        },
        counsel () {
            console.log('counsel')
        }
    }
}
</script>
