<template>
  <splide :options="options">
  <splide-slide>
    <img src="https://picsum.photos/1024/480/?image=52">
  </splide-slide>
  <splide-slide>
    <img src="https://picsum.photos/1024/480/?image=54">
  </splide-slide>
  <splide-slide>
    <img src="https://picsum.photos/1024/480/?image=56">
  </splide-slide>
</splide>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/themes/splide-default.min.css'

export default {
  components: {
    Splide,
    SplideSlide
  },
  data () {
    return {
      options: {
        type: 'loop',
        // gap: '2rem',
        perPage: 2,
        focus: 'center',
        autoplay: true,
        padding: {
          left: '10rem',
          right: '10rem',
        },
        autoWidth: false
      }
    }
  }
}
</script>
