<template>
     <div style="max-height:260px;height:260px;" class="hidden-sm-and-down" >
      <img src="https://www.gstatic.com/youtube/img/promos/growth/0cf8b5de70b5f94a58cc47037e83bd028fe1e63fba98e0e68fafa923db69bd82_2560x520.jpeg"
            style="position:absolute;height:260px;"/>
      <div style="position:relative;">
        <b-img
          thumbnail fluid 
          style="margin-bottom:8px;max-height:28px;max-width:320px;border-width:0px;background:transparent;"
          src="https://www.gstatic.com/youtube/img/promos/growth/864dc47e45a7a0b06602f73155980de282b939a6d0adc7bdcda231f965bf796a_640x48.png"
          />
        <div style="font-size: 26px;line-height: 30px;margin-bottom: 20px;max-width: 440px;height: 92px;">광⁠고 없⁠는 YouTube⁠에 푹 빠⁠져⁠보⁠세⁠요</div>
        <b-button
          squared
          variant="outline-primary"
        >
          <span class="align-middle">지금 가입하기</span>
        </b-button>
      </div>
    </div>
</template>
<script>
export default {
        name : 'Banner'
}
</script>
<style>
    
</style>