<template>
    <b-modal id="complete-modal" centered no-stacking no-close-on-backdrop no-close-on-esc>
        <template #default>
            <p>구매 문의가 정상적으로 등록되었습니다.</p>
        </template>
        <template #modal-footer="{ ok }">
            <div class="text-center w-100">
                <b-button @click="ok()" variant="primary">확인</b-button>
            </div>
        </template>
    </b-modal>
</template>      