<template>
<div>
    <b-modal id="login-modal" no-stacking centered title="회원 전용 상담 추천">
        <div class="d-flex">
            <p>회원 전용 상담 추천</p>
        </div>
        <div>
            비회원 전용 상담 진행
        </div>
        <b-button>로그인</b-button>
        <b-button v-b-modal.price-modal>비회원 상담신청</b-button>
    </b-modal>
    <PriceCounselModal />
    <CompleteModal />
</div>
    
</template>

<script>
import PriceCounselModal from './PriceCounselModal'
import CompleteModal from './CompleteModal'

export default {
    components: {
        PriceCounselModal,
        CompleteModal
    }
}
</script>