<template>
    <b-modal id="price-modal" centered no-stacking>
        <template #modal-header="{ close }">
            <b-button @click="close()">X</b-button>
        </template>
        <template #default>
            <p>비회원 상담 신청</p>
        </template>
        <template #modal-footer="{ ok, cancel }">
            <b-button @click="cancel()">신청 취소</b-button>
            <b-button v-b-modal.complete-modal @click="ok()" variant="primary">신청 접수</b-button>
        </template>
    </b-modal>
</template>