<template>
    <div>
        <b-col class="p-0">
            <b-card>
                <b-col md="6" class="mb-4">
                    <div class="d-flex">
                        <b-input class="col-6 mr-1 search_input" v-model="searchTxt" placeholder="이름 또는 종사원 번호" @keyup.enter="search"></b-input>
                        <b-button class="btn search_btn" variant="outline-dark" @click="search">검색</b-button>
                        <b-button class="btn init_btn" variant="outline-dark" @click="init">
                            <feather-icon icon="RotateCcwIcon" class="mr-20"/>                                
                                초기화
                        </b-button>
                    </div>
                </b-col>
                
                <b-col>
                    <b-table
                        :per-page="perPage"
                        :current-page="currentPage"
                        :items="managerList"
                        :fields="fields"
                        show-empty
                        empty-text="등록된 사용자가 없습니다."
                    >
                        <template #head(role)="data">
                            {{data.label}}
                            <b-dropdown variant="link" right toggle-class="text-decoration-none p-0" no-caret>
                                <template #button-content>
                                    <feather-icon icon="InfoIcon"></feather-icon> 
                                </template>
                                <b-card>
                                    <div class="d-flex mb-2">
                                        <div class="mr-1" style="width: 8rem;">
                                            <b-button class="w-100" variant="danger">마스터</b-button>
                                        </div>
                                        <div style="width: 16rem; display: grid">
                                            <span>모든 메뉴 조회</span>
                                            <span>모든 컨텐츠 등록, 수정, 삭제</span>
                                            <span>권한 부여 및 삭제</span>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-3">
                                        <div class="mr-1" style="width: 8rem;">
                                            <b-button class="w-100" variant="success">서브마스터</b-button>
                                        </div>
                                        <div style="width: 16rem; display: grid">
                                            <span>모든 메뉴 조회</span>
                                            <span>모든 컨텐츠 등록, 수정, 삭제</span>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="mr-1" style="width: 8rem;">
                                            <b-button class="w-100" variant="warning">딜러</b-button>
                                        </div>
                                        <div style="width: 16rem; display: grid">
                                            <span>운영현황, 상품관리, 문의관리 조회</span>
                                            <span>담당 상품/문의 등록, 수정, 삭제</span>
                                        </div>
                                    </div>
                                </b-card>
                            </b-dropdown>
                        </template>

                        <template #cell(id)="data">
                            {{data.index + 1}}
                        </template>

                        <template #cell(joinDd)="data">
                            {{$moment(data.value).format('YYYY-MM-DD')}}
                        </template>

                        <template #cell(role)="data">
                            <b-dropdown :variant="authButton(data.value).color" :text="authButton(data.value).text" class="w-100" menu-class="w-100">
                                <b-dropdown-item>
                                    <b-button class="w-100" variant="danger" @click="changeAuth(data.index, data.item.id, 'ROLE_MASTER')">마스터</b-button>
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-button class="w-100" variant="warning" @click="changeAuth(data.index, data.item.id, 'ROLE_DEALER')">딜러</b-button>
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-button class="w-100" variant="success" @click="changeAuth(data.index, data.item.id, 'ROLE_SUB_MASTER')">서브마스터</b-button>
                                </b-dropdown-item>
                            </b-dropdown>
                        </template>
                    </b-table>
                </b-col>
                <b-col class="mt-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="center" 
                        size="sm"
                        class="my-0"
                        pills
                    >
                    </b-pagination>
                </b-col>
            </b-card>
        </b-col>
    </div>
</template>

<script>
import ManageConst from '@/views/management/ManageConstant'
import Constant from '@/Constant'
import MessageConstant from '@/MessageConstant'

export default {
    data () {
        return {
            managerList: [],
            fields: [
                { key: 'id', label: ManageConst.labels.id },
                { key: 'name', label: ManageConst.labels.name },
                { key: 'majorJob', label: ManageConst.labels.majorJob },
                { key: 'dealerNum', label: ManageConst.labels.dealerNum },
                { key: 'joinDd', label: ManageConst.labels.joinDd },
                { key: 'workPlaceNm', label: ManageConst.labels.workPlaceNm },
                { key: 'role', label: ManageConst.labels.role }
            ],
            perPage: 10,
            currentPage: 1,
            totalRows: 0,
            pageSize: 9999,
            searchTxt: ''
        }
    }, 
    mounted () {
        this.search()
        this.$emit('change-title', '권한 설정 ')
    },
    methods: {
        search () {
            let param = {
                stts: 'A',
                keyword: this.searchTxt,
                pageSize: this.pageSize
            }
            this.$store.dispatch('mall/' + Constant.LOAD_MANAGER_LIST, param).then( (data) => {
                if(data) {
                    this.managerList = data.list;
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SEARCH, me: this});
                }
            })
        },
        init () {
            this.searchTxt = ''
        },
        authButton (auth) {
            let koAuth = {}
            if (auth === 'ROLE_MASTER') {
                koAuth = {
                    text: '마스터',
                    color: 'danger'
                }
            } else if(auth === 'ROLE_DEALER') {
                koAuth = {
                    text: '딜러',
                    color: 'warning'
                }
            } else {
                koAuth = {
                    text: '서브마스터',
                    color: 'success'
                }
            }
            return koAuth
        },
        changeAuth (index, id, role) {
            this.$bvModal.msgBoxConfirm('적용 하시겠습니까?', {
                okTitle: '확인',
                cancelTitle: '취소'
            }).then( value => {
                if (value) {
                    let param = {
                        id: id,
                        role: role,
                        updateId: this.$store.state.mall.userInfo.user_id
                    }
                    this.$store.dispatch('mall/' + Constant.UPDATE_MANAGER, param).then( (data) => {
                        if(data && data !== undefined && data !== '') {
                            this.managerList[index].id = id
                            this.managerList[index].role = role
                            // this.managerList[index].role = role
                        } else {
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_UPDATE, me: this});
                        }
                    })
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.search_input {
    border-radius: 0.5rem !important;
}
.search_btn {
    margin-right: 2px;
}
.btn {
    border-radius: 0.5rem !important;
    color: black;
}
#info-div {
    position: absolute;
    border: 1px solid;
    z-index: 5;
    background: #fff;
    right: 10rem;
}
</style>