<template>
    <div>
        <b-tabs fill>
            <b-tab title="전체"></b-tab>
            <b-tab title="국산"></b-tab>
            <b-tab title="수입"></b-tab>
        </b-tabs>
        <div style="text-align: end">
            <div>
                {{totalCar}} 대
            </div>
        </div>
        <div>
            <b-list-group>
                <div v-for="(condition, name) in stateSearchConditions" :key="name">
                    <b-list-group-item v-b-toggle.collapse="condition.name" class="p-0">
                        <div class="gray p-1">
                            {{condition.name}}
                        </div>
                        <b-collapse :id="condition.name">
                            <div class="p-1">
                                <b-form-checkbox-group
                                    v-model="selectedCondition"
                                    :options="condition.condition"
                                    value-field="value"
                                    text-field="text" 
                                    @change="search"
                                    stacked
                                >
                                </b-form-checkbox-group>
                            </div>
                        </b-collapse>
                    </b-list-group-item>
                </div>
            </b-list-group>
        </div>
    </div>
</template>

<script>
export default {
    props: ['totalCar', 'searchConditions'],
    data () {
        return {
            stateSearchConditions: {},
            selectedCondition: []
        }
    },
    mounted () {
        this.stateSearchConditions = this.$store.state.mall.search_condition
    },
    methods: {
        search () {
            // console.log(this.selectedCondition)
            this.$emit('change-search-condition', this.selectedCondition)
        }
    },
    watch: {
        searchConditions () {
            // console.log(this.searchConditions +" change")
        }
    }
}
</script>

<style scoped>
.gray {
    background: rgba(204, 204, 204, 0.2);
}
</style>