<template>
    <div>
        <b-row class="match-height">
                <Car v-for="item in carList" :key="item.seq" :item="item" />
        </b-row>
    </div>
</template>

<script>
import Car from '../main/Car'

export default {
    components: {
        Car
    },
    props: ['carList'],
    data () {
        return {
        }
    }
}
</script>