<template>
    <div>
        <b-row>
            <PurchaseCarousel />
        </b-row>
        <b-row class="mb-5">
            <b-col lg="8">
                <p>Car Search 노빌리티는 고객이 원하는 차를</p>
                <b-button v-b-modal.login-modal>문의</b-button>
                <LoginConfirmModal />
            </b-col>
            <b-col lg="4">
                <b-input-group>
                    <b-input-group-prepend is-text>
                        <feather-icon icon="SearchIcon" />
                    </b-input-group-prepend>
                    <b-form-input placeholder="Search" v-model="searchTxt" @keyup.enter="search"/>
                    <b-button @click="search">검색</b-button>
                </b-input-group>
            </b-col>
        </b-row>
        <b-row>
            <div v-if="searchConditions">
                <ul class="list-inline d-inline-block mb-1">
                    <li v-for="(condition, index) in searchConditions" :key="index" class="list-inline-item">
                        <b-form-tag variant="primary" @remove="removeCondition(index)">
                            {{searchCarCode[condition]}}
                        </b-form-tag>
                    </li>
                </ul>
            </div>
        </b-row>
        <b-row>
            <b-col lg="4">
                <PurchaseSearch :total-car="carList.length" @change-search-condition="changeSearchCondition" :search-conditions="searchConditions"/>
            </b-col>
            <b-col lg="8">
                <PurchaseCarList :car-list="carList"/>
                <infinite-loading @infinite="infiniteScroll" ref="infiniteLoading">
                    <div slot="no-more"></div>
                    <div slot="no-results"></div>
                </infinite-loading>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import PurchaseCarousel from './PurchaseCarousel'
import PurchaseSearch from './PurchaseSearch'
import PurchaseCarList from './PurchaseCarList'
import InfiniteLoading from 'vue-infinite-loading'
import LoginConfirmModal from '../counsel/LoginConfirmModal'

export default {
    components: {
        PurchaseCarousel,
        PurchaseSearch,
        PurchaseCarList,
        InfiniteLoading,
        LoginConfirmModal
    },
    data () {
        return {
            keyword: '',
            searchTxt: '',
            searchConditions: [],
            carList: [
                {seq: 1, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼', createDate: '2002년 10월', gas: '가솔린', km:'1500', price:'6200', type:'new'},
                {seq: 2, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트', createDate: '2002년 11월', gas: '경유', km:'800', price:'5200', type:'new'},
                {seq: 3, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2002년 12월', gas: '전기차', km:'1600', price:'4200', type:'wear'},
                {seq: 4, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2003년 1월', gas: '가솔린', km:'1800', price:'3200', type:'wear'},
                {seq: 5, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼', createDate: '2002년 10월', gas: '가솔린', km:'1500', price:'6200', type:'new'},
                {seq: 6, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트', createDate: '2002년 11월', gas: '경유', km:'800', price:'5200', type:'new'},
                {seq: 7, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2002년 12월', gas: '전기차', km:'1600', price:'4200', type:'wear'},
                {seq: 8, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS', createDate: '2003년 1월', gas: '가솔린', km:'1800', price:'3200', type:'wear'},
            ],
            searchCarCode: []
        }
    },
    mounted () {
        let param = {};
        if(this.$route.query != undefined && this.$route.query != null && this.$route.query.keyword != undefined && this.$route.query.keyword != null && this.$route.query.keyword != "") {
            this.keyword = this.$route.query.keyword
        }

        // code loading 서버에서 가져와야 할듯
        this.searchCarCode = this.$store.state.mall.search_condition_code
        // search_condition 조건 불러오기
    },
    methods: {
        search () {
            console.log(this.searchTxt)
        },
        changeSearchCondition (condition) {
            // 조건으로 조회 > 리스트 갱신 > badge 표시 code master에서 이름 가져올것.
            this.searchConditions = condition
        },
        removeCondition (index) {
            this.searchConditions.splice(index, 1)
        },
        infiniteScroll($state) {
            console.log($state)
            // 더이상 불러올것 없을 때
            $state.complete()
        }
    }
}
</script>