<template>
    <div class="w-100 h-40">
        <splide :options="options">
            <splide-slide v-for="img in image" :key="img.seq">
                <div style="border-radius: 50%;">
                    <b-img :src="img.imageSrc" fluid>
                    </b-img>
                    <p>{{img.name}}</p>
                </div>
            </splide-slide>
        </splide>
    </div>
</template>

<script>
import { Splide, SplideSlide } from '@splidejs/vue-splide'
import '@splidejs/splide/dist/css/themes/splide-default.min.css'

export default {
    components: {
        Splide,
        SplideSlide
    },
    data () {
        return {
            options: {
                type: 'loop',
                gap: '1rem',
                perPage: 2,
                focus: 'center',
                autoplay: true,
                pagination: false,
                fixedWidth: 100,
                fixedHeigth: 100

            },
            image: [
                {seq: 1, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '제네시스 G80 리뉴얼'},
                {seq: 2, imageSrc: 'https://images.unsplash.com/photo-1549399542-7e3f8b79c341?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80', name: '페라리 812 슈퍼패스트'},
                {seq: 3, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS'},
                {seq: 4, imageSrc: 'https://images.unsplash.com/photo-1607500421646-be05ba1e0341?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80', name: '포르쉐 911 카레라 GTS'}
            ]
        }
    }   
}
</script>