<template>
     <b-modal
      scrollable
      size="xl"
      id="modal-1"
      title="컨텐츠 등록"
      ok-title="업로드"
      @ok="saveBtn"
      @cancel="closeBtn"
      cancel-title="닫기"
    >
      <b-card-text>
          <b-row fluid>
              <b-col  md="12" sm="12"  xs="12" lg="4">
                  <form ref="form">
                        <b-form-group>
                        <label for="email">카테고리</label>
                        <v-select
                            v-model="categorySeq"
                            :dir="$store.state.appConfig.isRTL ? 'rtl' : 'ltr'"
                            :options="$store.state.mall.categories"
                            label="categoryName"
                            placeholder="카테고리"
                        >
                            <template #option="{ categoryName }">
                                <span> {{ categoryName }}</span>
                            </template>
                        </v-select>
                        </b-form-group>
                        <b-form-group>
                        <label for="password">제목</label>
                        <b-form-input
                            v-model="subject"
                            type="text"
                            placeholder="제목"
                        />
                        </b-form-group>
                        <b-form-group>
                        <label for="password">비디오아이디</label>
                        <b-form-input
                            v-model = "videoId"
                            type="text"
                            placeholder="비디오아이디"
                        />
                        </b-form-group>
                        <b-form-group>
                        <label for="password">썸네일주소</label>
                        <b-form-input
                            v-model="thumbnailUrl"
                            type="text"
                            placeholder="썸네일주소"
                        />
                        </b-form-group>
                        <b-form-group>
                        <label for="password">내용</label>
                        <b-textarea
                            placeholder="내용"
                        />
                        </b-form-group>
                    </form>
              </b-col>
               <b-col  md="12" sm="12" xs="12" lg="8">
                   <div class="d-flex align-content-center justify-content-between w-100">
          <b-input-group class="input-group-merge">
            <b-input-group-prepend is-text>
              <feather-icon
                icon="SearchIcon"
                class="text-muted"
              />
            </b-input-group-prepend>
            <b-form-input
              v-model.trim = "searchYoutube"
              placeholder="Youtube 검색어를 입력하세요"
              @keyup.enter="searchContents"
            />
          </b-input-group>
        </div>
                <b-table striped hover :items="contents" :fields="fields" thead-class="d-none">
                    <template #cell(url)="data">
                        <b-avatar
                            size="32"
                            :src="data.item.snippet.thumbnails.default.url"
                        />
                    </template>
                    <template #cell(title)="data">
                       {{data.item.snippet.title}}
                    </template>
                    <template #cell(id)="data">
                        <b-button variant="primary" @click="selectContent(data.item)">
                            <span class="text-nowrap">선택</span>
                        </b-button>
                    </template>
                </b-table>
                <b-pagination
                v-if="contents.length > 0"
                v-model="current_page"
                :total-rows="total_page"
                ellipsis-class="d-none"
                page-class="d-none"
                per-page="8"
                first-number
                last-number
                class="mb-0 mt-1 mt-sm-0"
                prev-class="prev-item"
                next-class="next-item"
                >
                <template #prev-text>
                    <feather-icon
                    icon="ChevronLeftIcon"
                    size="18"
                    @click="prevPage"
                    />
                </template>
                <template #next-text>
                    <feather-icon
                    icon="ChevronRightIcon"
                    size="18"
                    @click="nextPage"
                    />
                </template>
                </b-pagination>
              </b-col>
          </b-row>
      </b-card-text>
    </b-modal>
</template>
<script>
import Constant from '@/Constant'
import vSelect from 'vue-select'

export default {
    name : 'ContentForm',
    components : {vSelect},
    computed : {
        contents(){
            return this.$store.state.mall.youtube_contents;
        },
        userInfo(){
            return this.$store.state.mall.userInfo;
        },
        current_page : {
            get(){
               return this.$store.state.mall.current_page; 
            },
            set(){}
        },
        total_page(){
            return this.$store.state.mall.total_page;
        }
    },
    data() {
        return {
           loading : false,
            dialog : false,
            categorySeq : 0,
            searchYoutube : '',
            subject : '',
            content : '',
            videoId : '',
            thumbnailUrl : '',
            fields: [{
                key: 'url',
            },
            {
                key: 'title',
            },
            {
                key: 'id',
            }]
        }
    },
    methods: {
        nextPage(){
            if(this.$store.state.mall.next_token != undefined && this.$store.state.mall.next_token != null && this.$store.state.mall.next_token != "") {
                this.$store.dispatch('vuetube/'+Constant.SEARCH_YOUTUBE,{ q : this.searchYoutube, pageToken : this.$store.state.mall.next_token, flag : "next"});
            }
        },
        prevPage(){
            if(this.$store.state.mall.prev_token != undefined && this.$store.state.mall.prev_token != null && this.$store.state.mall.prev_token != "") {
                this.$store.dispatch('vuetube/'+Constant.SEARCH_YOUTUBE,{ q : this.searchYoutube, pageToken : this.$store.state.mall.prev_token, flag : "prev"});
            }
        },
        // 업로드버튼 클릭
        saveBtn(){
             let params = {
                subject : this.subject,
                content : this.content,
                videoId : this.videoId,
                thumbnailUrl : this.thumbnailUrl,
                categorySeq : this.categorySeq.categorySeq,
                path : this.$route.fullPath
            }
            this.$store.dispatch('vuetube/'+Constant.SAVE_CONTENT,params);
            this.$store.commit('vuetube/'+Constant.EMPTY_YOUTUBE_CONTENTS)
            // this.$refs.form.reset();
            this.categorySeq=  0;
            this.subject = '';
            this.content = '';
            this.videoId = '';
            this.thumbnailUrl = '';
            this.searchYoutube = '';
            this.$router.push({
                path : '/'
            }).catch(()=>{});
        },
        closeBtn(){
            this.$store.commit('vuetube/'+Constant.EMPTY_YOUTUBE_CONTENTS)
            // this.$refs.form.reset();
            this.categorySeq=  0;
            this.subject = '';
            this.content = '';
            this.videoId = '';
            this.thumbnailUrl = '';
            this.searchYoutube = '';
        },
        // 컨텐츠 검색
        searchContents(){
            this.$store.dispatch('vuetube/'+Constant.SEARCH_YOUTUBE,{ q : this.searchYoutube, pageToken : '', flag : "first"});
        },
        // 검색 데이터 선택
        selectContent(content){
            let title = content.snippet.title.split("&quot;").join("");
                title = title.split("#39;").join("")
            let desc = content.snippet.description;
            let thumbnails = content.snippet.thumbnails.high.url;
            let videoId = content.id.videoId;
            this.subject = title;
            this.content = desc;
            this.videoId = videoId;
            this.thumbnailUrl = thumbnails;
        }
    }
}
</script>
<style lang="scss">
@import '@core/scss/vue/libs/vue-select.scss';
</style>
 