<template>
    <div>
        <!-- 메인 배너 -->
        <Banner />
        <!-- 메인 상단 최신 컨텐츠 4개 -->
        <List :limit="4" feed="top" :infinite=false />    
        <hr style="margin-top:20px;margin-bottom:20px;"/>
        <h3 style="line-height: 2.4rem;">인기</h3>
        <!-- 메인 하단 인기 컨텐츠 8개 -->
        <List :limit="12" feed="popular" :infinite=true />
    </div>
</template>
<script>
import List from '@/views/list/List'
import Banner from '@/views/common/Banner'
export default {
    name : 'Center',
    components : {Banner,List}
}
</script>
<style>
    
</style>