<template>
   <div>
   	<Center />
	
   </div>
</template>

<script>
import Ripple from 'vue-ripple-directive'
import Center from './Center'
import Constant from '@/Constant'
export default {
  name : 'Main',
  components: {
	  Center,
  },
  directives : {
  	Ripple
  },
}
</script>
<style>
	.short_title .card-title,
	.short_title .card-text {
		    overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
	}
</style>