<template>
    <div>
        <h4 class="chat-list-title">
            댓글
        </h4>
        <CommentForm />
        <CommentList />
    </div>
</template>
<script>
import CommentForm from '@/views/comment/CommentForm' 
import CommentList from '@/views/comment/CommentList' 
export default {
    name : 'Comment',
    components : {CommentForm,CommentList},
}
</script>
<style>
    
</style>