<template>
    <div class="d-flex align-items-center w-100">
        <div class="sidebar-profile-toggle">
        <b-avatar
            size="42"
            class="cursor-pointer badge-minimal avatar-border-2 mr-2"
            src="/img/13-small.d796bffd.png"
            variant="transparent"
            badge
            badge-variant="success"
            @click.native="$emit('show-user-profile')"
        />
        </div>
        <b-form-input
            ref="comment"
            :placeholder="$store.state.mall.userInfo == null ? '로그인하세요' : '댓글을 입력하세요'" 
            v-model="comment"
            @keyup.enter="addComment" 
            :disabled="$store.state.mall.userInfo == null"
        />
    </div>
</template>
<script>
import Constant from '@/Constant'
export default {
    name : 'CommentForm',
    data() {
            return {
                comment : ''
            }
    },
    methods: {
        addComment(){
            let params = { 
                            comment : this.comment, 
                            contentsSeq : this.$route.params.contentsSeq
                        }
            this.$store.dispatch('vuetube/'+Constant.ADD_COMMENT,params);
            this.comment = "";
            this.$refs.comment.focus();
        }
    },
}
</script>
<style>
    
</style>