<template lang="">
    <div class="chat-users-list contact-list media-list mt-2">
        <div style="display:flex;" class="mb-2" v-for="c in $store.state.mall.comments" :key="c.commentSeq">
            <b-avatar
            size="42"
            src="/img/13-small.d796bffd.png"
            class="badge-minimal mr-1"
            variant="transparent"
            />
            <div class="chat-info flex-grow-1">
                <h5 class="mb-0">
                    {{c.createId}}
                </h5>
                <p class="card-text text-truncate">
                    {{c.comment}}
                </p>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name : 'CommentList'
}
</script>
<style lang="">
    
</style>