<template lang="">
    <div class="media-list card">
        <b-media vertical-align="top" v-for="video in $store.state.mall.popular">
            
            <template #aside>
                <b-img
                :src="video.thumbnailUrl"
                blank-color="#ccc"
                width="64"
                alt="placeholder"
                />
            </template>
            <div class="chat-info">
                <h5 class="mb-0  text-truncate">
                    <b-link :to="{path : `/watch/${video.contentsSeq}`}">
                    {{ video.subject }}
                    </b-link>
                </h5>
                <p class="card-text">
                    {{video.viewCount}}회 • {{$moment(video.createDt).format('YYYY. M. D')}}
                </p>
            </div>
            </b-link>
        </b-media>
    </div>
</template>
<script>
export default {
    name : 'DetailList'
}
</script>
<style>
    .media-body {
        width : calc(100% - 92px);
    }
</style>