<template>
    <div class="blog-detail-wrapper">
        <b-row>
            <b-col cols="12" md="7" sm="12" xs="12">
                <b-card>
                    <div class="video-container">
                        <youtube :video-id="$store.state.mall.content.videoId" ref="youtube"></youtube>
                    </div>
                    <h4 class="card-title mt-2">{{$store.state.mall.content.subject}}</h4>
                    <b-media no-body>
                    <b-media-aside
                        vertical-align="center"
                        class="mr-50"
                    >
                        <!-- <b-avatar
                        href="javascript:void(0)"
                        size="24"
                        src="/img/13-small.d796bffd.png"
                        /> -->
                    </b-media-aside>
                    <b-media-body>
                        <small class="text-muted mr-50">조회수</small>
                        <small>
                        <b-link class="text-body">{{$store.state.mall.viewCount}}회</b-link>
                        </small>
                        <span class="text-muted ml-75 mr-50">•</span>
                        <small class="text-muted">{{$moment($store.state.mall.content.createDt).format('YYYY. M. D')}}</small>
                    </b-media-body>
                     <b-navbar-nav class="nav align-items-center ml-auto">
                        <b-button
                        variant="light"
                        @click="likeBtn"
                        >
                            <feather-icon
                                icon="ThumbsUpIcon"
                                class="mr-50"
                            />
                            <span class="align-middle">{{$store.state.mall.like}}</span>
                        </b-button>
                       
                    </b-navbar-nav>
                     <b-navbar-nav class="nav align-items-center ml-auto">
                                                <b-button
                        variant="light"
                        @click="unlikeBtn"
                        >
                            <feather-icon
                                icon="ThumbsDownIcon"
                                class="mr-50"
                            />
                            <span class="align-middle">{{$store.state.mall.unlike}}</span>
                        </b-button>
                       
                    </b-navbar-nav>
                    </b-media>
                    <b-media no-body class="mt-2">
                       <b-media-aside>
                            <b-avatar
                                href="javascript:void(0)"
                                size="45"
                                src="/img/13-small.d796bffd.png"
                            />
                        </b-media-aside>
                        <b-media-body>
                            <h6 class="font-weight-bolder">
                            {{$store.state.mall.content.createId}}
                            </h6>
                            <b-card-text>
                            구독자 {{$store.state.mall.totalSubscribe}}명
                            </b-card-text>
                        </b-media-body>
                        <b-navbar-nav class="nav align-items-center ml-auto">
                            <b-button
                            squared
                            :variant="$store.state.mall.subscribe === 0 || $store.state.mall.userInfo == null ? 'danger' : ''"
                            @click="sendSubscribe"
                            >
                            <span class="align-middle">
                                {{$store.state.mall.subscribe === 0 || $store.state.mall.userInfo == null ? "구독" : "해지"}}
                            </span>
                            </b-button>
                        </b-navbar-nav>
                    </b-media>
                    <hr class="my-2">
                    <Comment />
                    <infinite-loading @infinite="infiniteComment" ref="infiniteComment">
                        <div slot="no-more"></div>
                        <div slot="no-results"></div>
                    </infinite-loading>
                </b-card>
            </b-col> 
            <b-col cols="12" sm="12" md="5" xs="12">
                <DetailList />
                <infinite-loading @infinite="infiniteScroll" ref="infiniteLoading">
                    <div slot="no-more"></div>
                    <div slot="no-results"></div>
                </infinite-loading>
            </b-col>
        </b-row>
    </div>
</template>
<script>
import InfiniteLoading from 'vue-infinite-loading';
import DetailList from '@/views/detail/DetailList' 
import Comment from '@/views/comment/Comment' 
// import LikeContent from '@/app/view/like/LikeContent' 
import Constant from '@/Constant';
export default {
    name : 'Detail',
    components : {InfiniteLoading,DetailList,Comment},
    data() {
        return {
            // snackbar : false,
            start : 0,
            limit : 12,
            start2 : 0,
            limit2 : 12
        }
    },
    computed: {
      player() {
        return this.$refs.youtube.player
      }
    },
    mounted() {
        let contentsSeq = this.$route.params.contentsSeq;
        let token = this.$store.state.token;
        let options = {
              params : {
                  contentsSeq : contentsSeq,
                  start : 0,
                  limit : 12
              }
        }

        if(token != undefined && token != null && token != "") {
            options.headers = {
                "Authorization" : "Bearer " + token
            }
        }
        this.$store.dispatch('vuetube/'+Constant.FIND_CONTENT,options)
    },
    methods: {
        infiniteScroll($state){
            this.start +=  1;
            let params = {
                start : this.start,
                limit : this.limit,
                contentsSeq : this.$route.params.contentsSeq
            }
            this.$store.dispatch('vuetube/'+Constant.APPEND_CHANNEL_LIST, {params : params, $state : $state});
        },
        infiniteComment($state){
            this.start2 +=  1;
            let params = {
                start : this.start2,
                limit : this.limit2,
                contentsSeq : this.$route.params.contentsSeq
            }
            this.$store.dispatch('vuetube/'+Constant.APPEND_COMMENT, {params : params, $state : $state});
        },
        sendSubscribe(){
            if(this.$store.state.mall.userInfo == null) {
                // this.snackbar=true
                let me = this;
                let params = {
                    msg : "로그인 하세요",
                    me : me
                };
                this.$store.commit('vuetube/'+Constant.MAIN_SNACKBAR,params);
            }
            else {
                this.$store.dispatch('vuetube/'+Constant.SET_SUBSCRIBE);
            }
        },
        likeBtn(){
            if(this.$store.state.mall.userInfo == null) {
                // this.snackbar=true
                let me = this;
                let params = {
                    msg : "로그인 하세요",
                    me : me
                };
                this.$store.commit('vuetube/'+Constant.MAIN_SNACKBAR,params);
            }
            else {
                let params = {
                    contentsSeq : this.$store.state.mall.content.contentsSeq,
                    likeFlag : 'L'
                }
                this.$store.dispatch('vuetube/'+Constant.LIKE_UNLIKE,params);
            }
        },
        unlikeBtn(){
            if(this.$store.state.mall.userInfo == null) {
                // this.snackbar=true
                let me = this;
                let params = {
                    msg : "로그인 하세요",
                    me : me
                };
                this.$store.commit(Constant.MAIN_SNACKBAR,params);
            }
            else {
                let params = {
                    contentsSeq : this.$store.state.mall.content.contentsSeq,
                    likeFlag : 'U'
                }
                this.$store.dispatch('vuetube/'+Constant.LIKE_UNLIKE,params);
            }
        }
    },
    watch: {
      $route(to,from) {
          if (to.path !== from.path) {
              let contentsSeq = to.params.contentsSeq;
                let token = this.$store.state.token;
                let options = {
                    params : {
                        contentsSeq : contentsSeq,
                        start : 0,
                        limit : 12
                    }
                }
                if(token != undefined && token != null && token != "") {
                    options.headers = {
                        "Authorization" : "Bearer " + token
                    }
                }
                this.$refs.infiniteLoading.stateChanger.reset();
                this.$store.dispatch('vuetube/'+Constant.FIND_CONTENT,options);
          }
       
      }
    },
}
</script>
<style>
    .video-container {
        position: relative;
        padding-bottom: 45%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>