<template>
<div :style="{margin: `${!drawer ? '0 0 0 320px' : '0 5% 0 5%'}`}">
  <Header :drawer="drawer" @toggle="toggleDrawer" />
  <router-view></router-view>
</div>
</template>

<script>
import Header from './layout/Header'
export default {
  components: {
    Header
  },
  data () {
    return {
      drawer: true
    }
  },
  methods: {
    toggleDrawer (drawer) {
      this.drawer = drawer
    }
  }
}
</script>