<template>
    <div>
        <b-col class="p-0">
            <b-card>
                <b-col md="12" class="mb-4">
                    <div class="d-flex">
                        <b-form-select class="col-1 mr-1 search_input" v-model="searchType" :options="typeOptions"></b-form-select>
                        <b-input class="col-4 mr-1 search_input" v-model="searchTxt" placeholder="이름 또는 종사원 번호" @keyup.enter="search"></b-input>
                        <b-button class="btn search_btn" variant="outline-dark" @click="search">검색</b-button>
                        <b-button class="btn init_btn" variant="outline-dark" @click="init">
                            <feather-icon icon="RotateCcwIcon" class="mr-20"/>                                
                                초기화
                        </b-button>
                        <b-button class="btn reg_btn" variant="outline-dark" @click="reg">직원 등록</b-button>
                    </div>
                    <!-- <b-input-group>
                        <b-form-select class="col-1 mr-1 search_input" v-model="searchType" :options="typeOptions"></b-form-select>
                        <b-input class="col-4 mr-1 search_input" v-model="searchTxt" placeholder="이름 또는 종사원 번호" @keyup.enter="search"></b-input>
                        <b-input-group-append>
                            <b-button class="btn search_btn" variant="outline-dark" @click="search">검색</b-button>
                            <b-button class="btn init_btn" variant="outline-dark" @click="init">
                                <feather-icon icon="RotateCcwIcon" class="mr-20"/>                                
                                    초기화
                            </b-button>
                            <b-button class="btn reg_btn" variant="outline-dark" @click="reg">직원 등록</b-button>
                        </b-input-group-append>
                    </b-input-group> -->
                </b-col>

                <b-col>
                    <div class="text-right mr-3 mb-1">
                        <img src="@/assets/images/icons/excel_icon.png" style="width:30px; height:30px; cursor: pointer" @click="downloadExcel"/>
                    </div>
                    <b-table
                        :per-page="perPage"
                        :current-page="currentPage"
                        :items="managerList"
                        :fields="fields"
                        show-empty
                        empty-text="등록된 사용자가 없습니다."
                    >

                        <template #cell(id)="data">
                            {{data.index + 1}}
                        </template>

                        <template #cell(mobile)="data">
                            {{data.value | filterMobile}}
                        </template>

                        <template #cell(extensionNum)="data">
                            {{data.value | filterPhone}}
                        </template>

                        <template #cell(modify)="data">
                            <feather-icon icon="EditIcon" style="cursor: pointer" @click="moveDetail(data.item.id)"/>
                        </template>

                        <template #cell(birthDd)="data">
                            {{$moment(data.value).format('YYYY-MM-DD')}}
                        </template>

                        <template #cell(joinDd)="data">
                            {{$moment(data.value).format('YYYY-MM-DD')}}
                        </template>
                    </b-table>
                </b-col>

                <b-col class="mt-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="center" 
                        size="sm"
                        class="my-0"
                        pills
                    >
                    </b-pagination>
                </b-col>
            </b-card>
        </b-col>
    </div>
</template>

<script>
import ManageConst from '../ManageConstant'
import { filterMobile, filterPhone } from '@/views/util/filter'
import Constant from '@/Constant'
import MessageConstant from '@/MessageConstant'

export default {
    data () {
        return {
            managerList: [],
            perPage: 15,
            currentPage: 1,
            totalRows: 0,
            searchTxt: '',
            searchType: '',
            pageSize: 9999,
            fields: [
                { key: 'id', label: ManageConst.labels.id },
                { key: 'name', label: ManageConst.labels.name },
                { key: 'majorJob', label: ManageConst.labels.majorJob },
                { key: 'dealerNum', label: ManageConst.labels.dealerNum },
                { key: 'birthDd', label: ManageConst.labels.birthDd },
                { key: 'mobile', label: ManageConst.labels.mobile },
                { key: 'extensionNum', label: ManageConst.labels.extensionNum },
                { key: 'uid', label: ManageConst.labels.uid },
                { key: 'workPlaceNm', label: ManageConst.labels.workPlaceNm },
                { key: 'sttsNm', label: ManageConst.labels.stts },
                { key: 'joinDd', label: ManageConst.labels.joinDd },
                { key: 'modify', label: ManageConst.labels.modify}
            ],
            typeOptions: [
                { text: '전체' , value: ''},
                { text: '재직' , value: 'A'},
                { text: '퇴사' , value: 'R'}
            ]
        }
    },
    mounted () {
        this.search()
        this.$emit('change-title', '직원 현황')
    },
    filters: {
        filterMobile: filterMobile,
        filterPhone: filterPhone
    },
    methods: {
        search () {
            let param = {
                stts: this.searchType,
                keyword: this.searchTxt,
                pageSize: this.pageSize
            }
            this.$store.dispatch('mall/' + Constant.LOAD_MANAGER_LIST, param).then( (data) => {
                if(data) {
                    this.managerList = data.list
                    this.totalRows = data.total
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SEARCH, me: this});
                }
            })
        },
        init () {
            this.searchTxt = ''
        },
        reg () {
            this.$router.push({
              name: 'manager-reg',
            }).catch(()=>{});
        },
        downloadExcel () {
            console.log('downloadExcel')
        },
        moveDetail (id) {
            this.$router.push({
                name: 'manager-reg',
                params: { 
                    id : id
                }
            }).catch(()=>{});
        }
    }
}
</script>

<style lang="scss" scoped>
.search_input {
    border-radius: 0.5rem !important;
}
.search_btn {
    margin-right: 2px;
}
.btn {
    border-radius: 0.5rem !important;
    color: black;
}
.reg_btn {
    position: absolute !important;
    right: 0;
}

.table ::v-deep {
    td {
        padding: 0.2rem;
    }
    th {
        padding: 0.2rem;
    }
}

</style>