<template>
<div>
    <div class="mb-2 ml-1" style="box-shadow: 0">
        <h2>{{title}}</h2>
    </div>
    <router-view @change-title="changeTitle"></router-view>
</div>
</template>

<script>
export default {
    data () {
        return {
            link: '',
            title: ''
        }
    },
    methods: {
        changeTitle (title) {
            this.title = title
        }
    }
}
</script>