<template>
<validation-observer ref="simpleRules">
    <b-card>
            <b-row>
                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="직원 명"
                        label-for="input-name"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="직원 명"    
                            rules="required"
                        >
                            <b-form-input
                                v-model="manager.name"
                                id="input-name"
                                placeholder="직원 명"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>
                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="주 업무"
                        label-for="input-task"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="맡은 주 업무"    
                            rules="required"
                        >
                            <b-form-input
                                v-model="manager.majorJob"
                                id="input-task"
                                placeholder="맡은 주 업무"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="이메일(ID)"
                        label-for="input-email"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="이메일"    
                            rules="required|email"
                        >
                            <b-input-group>
                                <b-form-input
                                    v-model="manager.uid"
                                    id="input-email"
                                    placeholder="abc@naver.com"
                                    :disabled="modify"
                                    :state="errors.length > 0 ? false : null"
                                    :style="modify ? 'border-radius: 0.357rem' : ''"
                                />
                                <b-input-group-append v-show="!modify">
                                    <b-button variant="primary" @click="checkDuplicate">중복 확인</b-button>
                                </b-input-group-append>
                            </b-input-group>
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="비밀번호" 
                        label-for="input-pass"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="비밀번호"    
                            :rules="!modify ? 'required|passwordValidator': ''"
                        >
                            <b-form-input
                                type="password"
                                v-model="manager.password"
                                id="input-pass"
                                placeholder="특수문자 포함, 최소 8자리"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="생년월일"
                        label-for="input-birth"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="생년월일"    
                            rules="required|birthDayValidator"
                        >
                            <b-form-input
                                v-model="manager.birthDd"
                                id="input-birth"
                                placeholder="YYYY-MM-DD"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>
                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="입사일"
                        label-for="input-join"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="입사일"    
                            rules="required|birthDayValidator"
                        >
                            <b-form-input
                                v-model="manager.joinDd"
                                id="input-join"
                                placeholder="YYYY-MM-DD"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="내선번호"
                        label-for="input-ext"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="내선번호"    
                            rules="required|numberValidator"
                        >
                            <b-form-input
                                v-model="manager.extensionNum"
                                id="input-ext"
                                placeholder="숫자만 입력하세요"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="전화번호"
                        label-for="input-phone"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="전화번호"    
                            rules="required|numberValidator"
                        >
                            <b-form-input
                                v-model="manager.mobile"
                                id="input-phone"
                                placeholder="숫자만 입력하세요"
                                :state="errors.length > 0 ? false : null"
                            />
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>
                    </b-form-group>
                </b-col>

                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="근무지"
                        label-for="input-place"
                    >
                        <validation-provider
                            #default="{ errors }"
                            name="근무지"    
                            rules="required"
                        >
                            <b-input-group>
                                <b-form-input
                                    v-model="workPlaceNm"
                                    id="input-place"
                                    placeholder="근무지 관리에서 선택"
                                    :state="errors.length > 0 ? false : null"
                                    disabled
                                >
                                </b-form-input>
                                    <b-input-group-append>
                                        <b-button variant="primary" v-b-modal.work-place-modal>근무지 관리</b-button>
                                        <WorkPlaceModal @select-work-place="selectWorkPlace" :selected-id="manager.workPlaceId"/>
                                    </b-input-group-append>
                            </b-input-group>
                            <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                        </validation-provider>

                    </b-form-group>
                </b-col>
                <b-col lg="5">
                    <b-form-group
                        label-cols="4"
                        label-cols-lg="2"
                        label="종사원번호"
                        label-for="input-dealer"
                    >
                        <b-form-input
                            v-model="manager.dealerNum"
                            id="input-dealer"
                            placeholder="11111121"
                        />
                    </b-form-group>
                </b-col>

                <b-col lg="12">
                    <div class="col-10" :class="modify ? 'd-flex' : 'text-right'">
                        <div v-show="modify">
                            <b-button class="mt-2 mr-4" variant="danger" @click="leaveManager">퇴사처리</b-button>
                        </div>
                        <div class="confirm" :class="modify ? 'modify-confirm' : ''">
                            <b-button class="mt-2 mr-4" @click="cancel">취소</b-button>
                            <b-button class="mt-2" variant="primary" @click.prevent="regist" v-show="!modify">등록</b-button>
                            <b-button class="mt-2" variant="primary" @click.prevent="regist" v-show="modify">수정</b-button>
                        </div>
                    </div>
                </b-col>
            </b-row>
    </b-card>
    </validation-observer>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required, email } from '@validations'
import WorkPlaceModal from './WorkPlaceModal'
import { passwordValidator, birthDayValidator, numberValidator } from '@/views/util/validator'
import Constant from '@/Constant'
import MessageConstant from '@/MessageConstant'

export default {
    components: {
        ValidationProvider,
        ValidationObserver,
        WorkPlaceModal
    },
    data () {
        return {
            manager: {
                id: 0,
                name: '',
                uid: '',
                password: '',
                birthDd: '',
                joinDd: '',
                majorJob: '',
                extensionNum: '',
                mobile: '',
                dealerNum: '',
                workPlaceId: 0,
                createId: '',
                updateId: '',
            },
            workPlaceNm: '',
            modify: false,
            selectedAuth: 0,
            checkDuplicateId: false,
            required,
            email,
            passwordValidator,
            birthDayValidator,
            numberValidator
        }
    },
    mounted () {
        // get authList 
        if(this.$route.params != undefined && this.$route.params != null && this.$route.params != "" && Object.keys(this.$route.params).length > 0) {
            this.modify = true

            this.$store.dispatch('mall/' + Constant.LOAD_MANAGER, this.$route.params).then( (data) => {
                if(data && data !== undefined && data !== '') {
                    if(data.list.length > 0) {
                        let info = data.list[0]
                        this.manager.id = info.id
                        this.manager.name = info.name
                        this.manager.uid = info.uid 
                        this.manager.birthDd = this.$moment(info.birthDd).format('YYYY-MM-DD')
                        this.manager.joinDd = this.$moment(info.joinDd).format('YYYY-MM-DD')
                        this.manager.majorJob = info.majorJob
                        this.manager.extensionNum = info.extensionNum ? info.extensionNum : ''
                        this.manager.mobile = info.mobile
                        this.manager.dealerNum = info.dealerNum ? info.dealerNum : '' 
                        this.manager.workPlaceId = info.workPlaceId
                        this.workPlaceNm = info.workPlaceNm
                        this.manager.role = info.role
                        this.manager.updateId = info.user_id
                    }
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_LOAD_MANAGER, me: this});
                }
            })
        } else {
            this.manager.createId = this.$store.state.mall.userInfo.user_id
        }

        this.modify ? this.$emit('change-title', '직원 수정') : this.$emit('change-title', '직원 등록')
    },
    methods: {
        regist () {
            if(!this.checkDuplicateId && this.manager.uid && !this.modify) {
                this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.CHECK_DUPLICATE_ID, me: this});
                return false
            }
            this.$refs.simpleRules.validate().then(success => {
                if(success) {
                    let param = this.manager
                    param['companyId'] = this.$store.state.mall.userInfo.company_id
                    param['stts'] = 'A'
                    if(!this.modify) {
                        this.$delete(param, 'id')
                    }
                    this.$store.dispatch('mall/' + Constant.UPDATE_MANAGER, param).then( (data) => {
                        if(data) {
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.SUCCESS_SAVE, me: this});
                            this.$router.push({
                                path : '/manager/list'
                            }).catch(()=>{});
                        } else {
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SAVE, me: this});
                        }
                    })
                }
            })
        },
        checkDuplicate () {
            let param = {
                uid: this.manager.uid
            }
            this.$store.dispatch('mall/' + Constant.CHECK_DUPLICATE_ID, param).then( (data) => {
                if(data) {
                    if(!data.data) {
                        this.manager.uid = ''
                        this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.DUPLICATE_ID, me: this});
                    } else {
                        this.checkDuplicateId = true
                        this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.NOT_DUPLICATE_ID, me: this});
                    }
                }
            })
        },
        selectWorkPlace (place) {
            this.workPlaceNm = place.placeNm
            this.manager.workPlaceId = place.id
        },
        cancel () {
            this.$router.push({
                path : '/manager/list'
            }).catch(()=>{});
        },
        leaveManager () {
            this.$store.dispatch('mall/' + Constant.LEAVE_MANAGER, this.manager.id).then( (data) => {
                if(data) {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.SUCCESS_LEAVE, me: this});
                    this.$router.push({
                        path : '/manager/list'
                    }).catch(()=>{});
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_LEAVE, me: this});
                }
            })
        }
    }
}
</script>

<style lang="scss" scoped>
.modify-confirm {
    position: absolute;
    right: 0;
}
</style>