<template>
    <b-modal
        id="work-place-modal"
        hide-header
        hide-footer
        ref="workPlaceModal"
        @show="search"
    >
        <h3>근무지 관리</h3>
        <hr/>
        <b-tabs class="mt-2" fill pills v-model="add">
            <b-tab title="등록된 근무지">
                <hr/>
                <div v-show="workPlace.length < 1" class="text-center mt-1">
                    <span>등록된 주소지가 없습니다.</span>
                </div>
                <b-form-radio-group
                    v-model="selecteId" 
                    class="d-flex" 
                >
                    <b-col lg="6 p-0" v-for="(place, index) in pageWorkPlace()" :key="index" :value="place.id">
                        <b-form-radio :value="place.id">
                            <div class="col-12 place-title p-0" >
                                <b-row class="p-0 m-0">
                                    <b-col md="10" class="p-0 m-0">
                                        <span>{{place.placeNm}}</span>
                                    </b-col>
                                    <b-col md="2" class="p-0 m-0">
                                        <a @click="deletePlace(place.id)">삭제</a>
                                    </b-col>
                                </b-row>
                            </div>
                            <div class="col-12 m-0 p-0">
                                {{place.addr}}
                            </div>
                        </b-form-radio>
                    </b-col>
                </b-form-radio-group>

                <b-col class="mt-4">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="center" 
                        size="sm"
                        class="my-0"
                        pills
                    >
                    </b-pagination>
                </b-col>
                <hr />
                <b-col lg="12" class="text-center">
                    <b-button class="mr-2" @click="hide">취소</b-button>
                    <b-button variant="primary" v-show="!add" @click="seletedPlace">적용</b-button>
                </b-col>
            </b-tab>

            <b-tab title="새로운 근무지">
                <hr/>
                <validation-observer ref="validateAddr">
                    <b-row>
                        <b-col lg="12">
                            <b-form-group
                                label-cols="4"
                                label-cols-lg="2"
                                label="주소"
                                label-for="input-addr"
                            >
                                <validation-provider
                                    #default="{ errors }"
                                    name="주소"    
                                    rules="required"
                                >
                                    <b-form-input
                                        v-model="addr"
                                        id="input-addr"
                                        placeholder="주소"
                                        :state="errors.length > 0 ? false : null"
                                    />
                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                </validation-provider>
                            </b-form-group>
                        </b-col>

                        <b-col lg="12">
                            <b-form-group
                                label-cols="4"
                                label-cols-lg="2"
                                label="지점 명"
                                label-for="input-name"
                            >
                                <validation-provider
                                    #default="{ errors }"
                                    name="지점 명"    
                                    rules="required"
                                >
                                    <b-form-input
                                        v-model="placeName"
                                        id="input-name"
                                        placeholder="지점 명"
                                        :state="errors.length > 0 ? false : null"
                                    />
                                    <small class="text-danger" v-show="errors[0]">{{errors[0]}}</small>
                                </validation-provider>
                            </b-form-group>
                        </b-col>
                        <hr />
                        <b-col lg="12" class="text-center">
                            <b-button class="mr-2" @click="hide">취소</b-button>
                            <b-button variant="primary" v-show="add" @click.prevent="regist">등록 및 적용</b-button>
                        </b-col> 
                    </b-row>
                </validation-observer>
            </b-tab>
        </b-tabs>
    </b-modal>
</template>

<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate'
import { required } from '@validations'
import Constant from '@/Constant'
import MessageConstant from '@/MessageConstant'

export default {
    components: {
        ValidationProvider,
        ValidationObserver
    },
    props: ['selectedId'],
    data () {
        return {
            workPlace: [],
            selecteId: 0,
            perPage: 2,
            currentPage: 1,
            totalRows: 0,
            add: 0,
            pageSize: 9999,
            // 새로운 근무지
            addr: '',
            placeName: '',
            // validate
            required
        }
    },
    methods: {
        search () {
            let param = {
                pageSize: this.pageSize,
                id: this.selectedId
            }
            this.$store.dispatch('mall/' + Constant.LOAD_WORK_PLACE, param).then( (data) => {
                if(data) {
                    this.workPlace = data.list
                    this.totalRows = data.total
                } else {
                    this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SEARCH, me: this})
                }
            })
        },

        seletedPlace () {
            if(this.selecteId === 0) {
                this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.SELECT_WORK_PLACE, me: this})
                return false
            }
            for (let place of this.workPlace) {
                if (place.id === this.selecteId ) {
                    this.$emit('select-work-place', place)
                    this.$refs.workPlaceModal.hide()
                    break
                }
            }
        },
        deletePlace (id) {
            this.$bvModal.msgBoxConfirm('삭제 하시겠습니까?', {
                okTitle: '확인',
                cancelTitle: '취소'
            }).then( (value) => {
                if(value) {
                    this.$store.dispatch('mall/' + Constant.DELETE_WORK_PLACE, id).then( (data) => {
                        if(data) {
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.SUCCESS_DELETE, me: this})
                            this.search()
                        }
                    })
                }
            })
        },
        pageWorkPlace () {
            return this.workPlace.slice((this.currentPage -1) * this.perPage, this.currentPage * this.perPage)
        },
        regist () {
            this.$refs.validateAddr.validate().then(success => {
                if(success) {
                    // 서버에서 등록 후 seq 받아서 전달해줄 것
                    let param = [{
                        companyId: this.$store.state.mall.userInfo.company_id,
                        placeNm: this.placeName,
                        addr: this.addr,
                        createId: this.$store.state.mall.userInfo.user_id
                    }]
                    this.$store.dispatch('mall/' + Constant.SAVE_WORK_PLACE, param).then( (data) => {
                        if(data) {
                            let res = data.list[0]
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.SUCCESS_SAVE, me: this})       
                            this.$emit('select-work-place', res)
                            this.init()
                            this.$refs.workPlaceModal.hide()
                        } else {
                            this.$store.commit('mall/' + Constant.MAIN_SNACKBAR, {msg : MessageConstant.FAILED_SAVE, me: this})
                        }
                    })
                }
            })
        },
        hide () {
            this.$refs.workPlaceModal.hide()
        },
        init () {
            this.addr = ''
            this.placeName = ''
        }
    },
    watch: {
        selectedId () {
            this.selecteId = this.selectedId
        }
    }
}
</script>

<style lang="scss" scoped>
.place-title {
    background: rgba(204, 204, 204, 0.4);
    span {
        font-size: 1.1rem;
    }
    a {
        font-size: 0.4rem;
    }
}
.tab-title {
    background: rgba(204, 204, 204, 0.4);
}
div.custom-radio ::v-deep {
    width: 100%;
    label {
        width: 100% !important;
    }
}
.custom-control-label ::v-deep {
    width: 100% !important;
}
</style>